<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <p>Tipo de pago: <%= payment_type %> </p>
    <p>Referencia externa: <%= external_reference %> </p>
    <p>Id del pago: <%= collection_id %> </p>
</body>
</html>
